<header
  class="main-header d-flex justify-content-between align-items-center px-3 px-lg-5 py-4"
>
  <div class="d-flex align-items-center gap-2">
    <div class="logo-container">
      <img
        class="logo"
        [src]="logoString || 'assets/images/brand/logo.svg'"
        [style.width]="logoString ? '50px' : '50px'"
        [style.height]="logoString ? '50px' : '30px'"
        alt="Trusted Advisor Logo"
      />
    </div>
  </div>

  <nav class="nav-links d-none d-lg-flex gap-3">
    <a
      *ngFor="let item of navItems"
      class="nav-item gap-3"
      [routerLink]="item.route"
      routerLinkActive="active"
    >
      <img [src]="'assets/images/utils/' + item.icon" [alt]="item.label" />
      {{ item.label }}
    </a>
  </nav>

  <div class="d-flex align-items-center gap-3">
    <div class="search-box d-none d-lg-flex">
      <img src="assets/images/utils/search.svg" alt="search" />
      <input type="text" placeholder="Search" />
    </div>
    <img src="assets/images/utils/notification.svg" alt="notification" />
    <img src="assets/images/utils/setting.svg" alt="setting" />
    <div class="profile d-none d-lg-flex">L P</div>

    <button
      class="btn d-lg-none p-0"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#mobileMenu"
      aria-controls="mobileMenu"
    >
      <img src="assets/images/utils/hamburger.svg" alt="menu" />
    </button>
  </div>
</header>

<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="mobileMenu"
  aria-labelledby="mobileMenuLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="mobileMenuLabel">Menu</h5>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <a
      data-bs-dismiss="offcanvas"
      [routerLink]="item.route"
      routerLinkActive="active"
      class="mobile-link"
      *ngFor="let item of navItems"
    >
      <img [src]="'assets/images/utils/' + item.icon" [alt]="item.label" />
      {{ item.label }}
    </a>
  </div>
</div>
