label {
  font-size: 14px;
  margin-bottom: 0;
}

.footer-btn-area {
  display: flex;
  justify-content: flex-end;
  margin-top: 5rem;
  .btn {
    min-width: 200px;
    margin-left: 1rem;
  }
}
select {
  padding: 10px;
  font-size: 14px;
}

