<div class="main ">
  <h6 class="mb-4 text-muted">Fill details below to add a audit to a plan</h6>

  <form [formGroup]="EditForm" class="d-flex flex-column gap-2 mb-3">
    <app-select-input
      [formGroup]="EditForm"
      [label]="'Department'"
      [controlName]="'department'"
      [placeholder]="'Select Status'"
      [options]="['HR', 'Finance', 'IT']"
    ></app-select-input>
    <app-select-input
      [formGroup]="EditForm"
      [label]="'Audit Title'"
      [controlName]="'auditTitle'"
      [placeholder]="'Select Status'"
      [options]="['HR', 'Finance', 'IT']"
    ></app-select-input>
    <app-select-input
      [formGroup]="EditForm"
      [label]="'Audit Type'"
      [controlName]="'auditType'"
      [placeholder]="'Select Status'"
      [options]="['HR', 'Finance', 'IT']"
    ></app-select-input>
    <app-select-input
      [formGroup]="EditForm"
      [label]="'Proposed Timining'"
      [controlName]="'proposedTiming'"
      [placeholder]="'Select Status'"
      [options]="['HR', 'Finance', 'IT']"
    ></app-select-input>
  </form>

  <div class="w-100">
    <button class="btn update-btn btn-primary w-100">Update</button>
  </div>
</div>
