<div class="main">
  <h6 class="mb-4 text-muted">Fill details below</h6>

  <div class="mb-3">
    <label class="form-label">Department</label>
    <select class="form-select mb-2 w-100">
      <option selected disabled>Select option</option>
      <option>HR</option>
    </select>
  </div>
  <div class="mb-3">
    <label class="form-label">Audit Title</label>
    <select class="form-select mb-2 w-100">
      <option selected disabled>Enter year</option>
      <option>2023</option>
    </select>
  </div>
  <div class="mb-3">
    <label class="form-label">Year</label>
    <select class="form-select mb-2 w-100">
      <option selected disabled>Enter year</option>
      <option>2023</option>
    </select>
  </div>

  <div class="w-100">
    <button class="btn save-btn btn-primary w-100">Add Audit</button>
  </div>
</div>
