<h5 class="fw-bold mb-4">Organization Details</h5>
<form [formGroup]="RatingForm">
  <div class="row g-4">
    <div class="col-md-6">
      <label class="form-label">Internal Audit report rating scale</label>
      <select class="form-select">
        <option selected disabled>Select Option</option>
      </select>
    </div>

    <hr />
    <div class="col-md-6">
      <label class="form-label">Internal Audit finding rating scale</label>
      <select class="form-select">
        <option selected disabled>Select Option</option>
      </select>
    </div>
  </div>
</form>
