<div class="main px-2 px-md-5">
  <div class="d-flex justify-content-between align-items-center w-100">
    <h5 class="mb-0">Audit Plan 2022</h5>
    <div class="d-flex gap-3">
      <div class="dropdown">
        <button
          class="btn btn-outline-dark dropdown-toggle"
          type="button"
          id="moreOptionsDropdown"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          More options
        </button>
        <ul class="dropdown-menu" aria-labelledby="moreOptionsDropdown">
          <li>
            <button class="dropdown-item">Delete 2022 Audit Plan</button>
          </li>
          <li>
            <button class="dropdown-item">Add New Audit Plan</button>
          </li>
        </ul>
      </div>

      <div class="dropdown">
        <button
          class="btn btn-outline-dark dropdown-toggle"
          type="button"
          id="yearDropdown"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Year 2022
        </button>
        <ul class="dropdown-menu" aria-labelledby="yearDropdown">
          <li class="dropdown-item">Year 2022</li>
          <li class="dropdown-item">Year 2023</li>
          <li class="dropdown-item">Year 2024</li>
        </ul>
      </div>
    </div>
  </div>
</div>
