<h5 class="fw-bold mb-4">Organization Details</h5>
<form [formGroup]="OrganizationForm">
  <div class="row g-4">
    <div class="col-md-6">
      <app-text-input
        [controlName]="'companyName'"
        [placeholder]="'Company Name'"
        [type]="'text'"
        [formGroup]="OrganizationForm"
      ></app-text-input>
    </div>

    <div class="col-md-6">
      <app-text-input
        [controlName]="'psuedoName'"
        [placeholder]="'Pseudo Name'"
        [type]="'text'"
        [formGroup]="OrganizationForm"
      ></app-text-input>
    </div>

    <div class="col-md-6">
      <app-text-input
        [controlName]="'primaryDomain'"
        [placeholder]="'Primary Domain/ Server'"
        [type]="'text'"
        [formGroup]="OrganizationForm"
      ></app-text-input>
    </div>

    <div class="col-md-6">
      <label class="form-label">Country</label>
      <select class="form-select">
        <option selected disabled>Select Option</option>
      </select>
    </div>

    <div class="col-md-6">
      <app-text-input
        [controlName]="'companyAddress'"
        [placeholder]="'Company Address'"
        [type]="'text'"
        [formGroup]="OrganizationForm"
      ></app-text-input>
    </div>

    <div class="col-md-6">
      <app-text-input
        [controlName]="'postCode'"
        [placeholder]="'Zip code or Postcode'"
        [type]="'text'"
        [formGroup]="OrganizationForm"
      ></app-text-input>
    </div>

    <div class="col-md-6">
      <label class="form-label">Number of employees</label>
      <select class="form-select">
        <option selected disabled>Select Option</option>
      </select>
    </div>

    <div class="col-md-6">
      <label class="form-label">Estimated Annual Turnover</label>
      <select class="form-select">
        <option selected disabled>Select Option</option>
      </select>
    </div>

    <div class="col-md-6">
      <label class="form-label">Is the company listed on any exchange</label>
      <div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="exchangeListed"
            id="exchangeYes"
            value="yes"
          />
          <label class="form-check-label form-label" for="exchangeYes"
            >Yes</label
          >
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="exchangeListed"
            id="exchangeNo"
            value="no"
          />
          <label class="form-check-label form-label" for="exchangeNo">No</label>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <label class="form-label">If yes, please select the stock exchange</label>
      <input
        type="text"
        class="form-control "
        placeholder="Please separate each insertion with (,)"
      />
    </div>

    <div class="col-md-6">
      <label class="form-label"
        >Is the company part of a group of company?</label
      >
      <div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="groupCompany"
            id="groupYes"
            value="yes"
          />
          <label class="form-check-label form-label" for="groupYes">Yes</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="groupCompany"
            id="groupNo"
            value="no"
          />
          <label class="form-check-label form-label" for="groupNo">No</label>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <label class="form-label">Industry</label>
      <select class="form-select">
        <option selected disabled>Select Option</option>
      </select>
    </div>

    <div class="col-md-6">
      <label class="form-label"
        >Is this account for the group or individual company?</label
      >
      <div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="accountType"
            id="accountGroup"
            value="group"
          />
          <label class="form-check-label form-label" for="accountGroup"
            >Group</label
          >
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="accountType"
            id="accountIndividual"
            value="individual"
          />
          <label class="form-check-label form-label" for="accountIndividual"
            >Individual</label
          >
        </div>
      </div>
    </div>
  </div>

  <div class="footer-btn-area mb-3">
    <button
      class="btn btn-primary mt-4"
      (click)="handleSubmit(OrganizationForm.value)"
    >
      Next
    </button>
  </div>
</form>
