.footer-btn-area {
  display: flex;
  justify-content: flex-end;
  margin-top: 5rem;
  .btn {
    min-width: 200px;
    margin-left: 1rem;
  }
}

.form-select {
  padding: 10px;
  font-size: 14px;
}
.form-label {
  font-size: 14px;
  margin: 0;
}

