<div class="form-container-section">
  <h5 class="fw-bold mb-4">Organization Details</h5>
  <p>All fields are required</p>
  <form [formGroup]="OrganizationForm">
    <div class="row g-4">
      <div class="col-md-6">
        <app-text-input
          [controlName]="'companyName'"
          [placeholder]="'Company Name'"
          [type]="'text'"
          [formGroup]="OrganizationForm"
        ></app-text-input>
      </div>

      <div class="col-md-6">
        <app-text-input
          [controlName]="'psuedoName'"
          [placeholder]="'Pseudo Name'"
          [type]="'text'"
          [formGroup]="OrganizationForm"
        ></app-text-input>
      </div>

      <div class="col-md-6">
        <app-text-input
          [controlName]="'primaryDomain'"
          [placeholder]="'Primary Domain/ Server'"
          [type]="'text'"
          [formGroup]="OrganizationForm"
        ></app-text-input>
      </div>

      <div class="col-md-6">
        <label class="form-label">Country</label>
        <select class="form-select" formControlName="countryId">
          <option selected disabled>Select Option</option>
          <option *ngFor="let item of Countries" [value]="item.id">
            {{ item.name }}
          </option>
        </select>
      </div>

      <div class="col-md-6">
        <app-text-input
          [controlName]="'companyAddress'"
          [placeholder]="'Company Address'"
          [type]="'text'"
          [formGroup]="OrganizationForm"
        ></app-text-input>
      </div>

      <div class="col-md-6">
        <app-text-input
          [controlName]="'postCode'"
          [placeholder]="'Zip code or Postcode'"
          [type]="'text'"
          [formGroup]="OrganizationForm"
        ></app-text-input>
      </div>

      <div class="col-md-6">
        <label class="form-label">Number of employees</label>
        <select class="form-select" formControlName="numberOfEmployees">
          <option selected disabled>Select Option</option>
          <option *ngFor="let item of numberOfEmployees" [value]="item">
            {{ item }}
          </option>
        </select>
      </div>

      <div class="col-md-6">
        <label class="form-label">Estimated Annual Turnover</label>
        <select class="form-select" formControlName="annualTurnOver">
          <option selected disabled>Select Option</option>
          <option *ngFor="let item of annualTurnOver" [value]="item">
            {{ item }}
          </option>
        </select>
      </div>

      <div class="col-md-6">
        <label class="form-label">Is the company listed on any exchange</label>
        <div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="exchangeListed"
              id="exchangeYes"
              formControlName="exchangeListed"
              value="true"
            />
            &nbsp;
            <label class="form-check-label form-label" for="exchangeYes"
              >Yes</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="exchangeListed"
              id="exchangeNo"
              formControlName="exchangeListed"
              value="false"
            />
            &nbsp;
            <label class="form-check-label form-label" for="exchangeNo"
              >No</label
            >
          </div>
        </div>
      </div>
      <div *ngIf="orgForm['exchangeListed']?.value == 'true'" class="col-md-6">
        <label class="form-label"
          >If yes, please select the stock exchange</label
        >
        <mat-form-field appearance="outline" class="small-height-input">
          <mat-label>Select Stock Exchange</mat-label>
          <mat-select [formControlName]="'exchangeName'" multiple>
            <mat-option *ngFor="let topping of toppingList" [value]="topping">{{
              topping
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <label class="form-label"
          >Is the company part of a group of company?</label
        >
        <div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="groupCompany"
              id="groupYes"
              value="yes"
            />
            <label class="form-check-label form-label" for="groupYes"
              >Yes</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="groupCompany"
              id="groupNo"
              value="no"
            />
            <label class="form-check-label form-label" for="groupNo">No</label>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <label class="form-label">Industry</label>
        <select class="form-select" formControlName="industry">
          <option selected disabled>Select Option</option>
          <option *ngFor="let item of industry" [value]="item">
            {{ item }}
          </option>
        </select>
      </div>

      <!-- <div class="col-md-6">
      <label class="form-label"
        >Is this account for the group or individual company?</label
      >
      <div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="accountType"
            id="accountGroup"
            value="group"
          />
          <label class="form-check-label form-label" for="accountGroup"
            >Group</label
          >
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="accountType"
            id="accountIndividual"
            value="individual"
          />
          <label class="form-check-label form-label" for="accountIndividual"
            >Individual</label
          >
        </div>
      </div>
    </div> -->
    </div>
  </form>

  <div class="footer-btn-area mb-3">
    <button
      class="btn btn-primary mt-4"
      (click)="handleSubmit(OrganizationForm.value)"
    >
      Next
    </button>
  </div>
</div>
