<div class="form-container-section">
  <h5 class="fw-bold mb-4">Organization Details</h5>
  <p>All fields are required</p>
  <form [formGroup]="OrganizationForm">
    <div class="row g-4">
      <div class="col-md-6">
        <app-text-input
          [controlName]="'companyName'"
          [placeholder]="'Company Name'"
          [type]="'text'"
          [formGroup]="OrganizationForm"
        ></app-text-input>
      </div>

      <div class="col-md-6">
        <app-text-input
          [controlName]="'preferredName'"
          [placeholder]="'Preferred Name'"
          [type]="'text'"
          [formGroup]="OrganizationForm"
        ></app-text-input>
      </div>

      <div class="col-md-6">
        <app-text-input
          [controlName]="'primaryDomain'"
          [placeholder]="'Primary Domain/ Server'"
          [type]="'text'"
          [formGroup]="OrganizationForm"
        ></app-text-input>
      </div>

      <div class="col-md-6">
        <label class="form-label">Country</label>
        <select class="form-select" formControlName="countryId">
          <option selected disabled>Select Option</option>
          <option *ngFor="let item of Countries" [value]="item.id">
            {{ item.name }}
          </option>
        </select>
      </div>

      <div class="col-md-6">
        <app-text-input
          [controlName]="'address'"
          [placeholder]="'Company Address'"
          [type]="'text'"
          [formGroup]="OrganizationForm"
        ></app-text-input>
      </div>

      <div class="col-md-6">
        <app-text-input
          [controlName]="'zipCode'"
          [placeholder]="'Zip code or Postcode'"
          [type]="'text'"
          [formGroup]="OrganizationForm"
        ></app-text-input>
      </div>

      <div class="col-md-6">
        <label class="form-label">Number of employees</label>
        <select class="form-select" formControlName="numberOfEmployees">
          <option selected disabled>Select Option</option>
          <option *ngFor="let item of numberOfEmployees" [value]="item">
            {{ item }}
          </option>
        </select>
      </div>

      <div class="col-md-6">
        <label class="form-label">Estimated Annual Turnover</label>
        <select class="form-select" formControlName="annualTurnOver">
          <option selected disabled>Select Option</option>
          <option *ngFor="let item of annualTurnOver" [value]="item">
            {{ item }}
          </option>
        </select>
      </div>

      <div class="col-md-6">
        <label class="form-label mb-2">Is the company listed on any exchange</label>
        <div class="radio-group">
          <div class="custom-radio">
            <input
              class="custom-radio-input"
              type="radio"
              name="exchangeListed"
              id="exchangeYes"
              formControlName="exchangeListed"
              value="true"
            />
            <label class="custom-radio-label" for="exchangeYes">Yes</label>
          </div>
          <div class="custom-radio">
            <input
              class="custom-radio-input"
              type="radio"
              name="exchangeListed"
              id="exchangeNo"
              formControlName="exchangeListed"
              value="false"
            />
            <label class="custom-radio-label" for="exchangeNo">No</label>
          </div>
        </div>
      </div>
      <div *ngIf="orgForm['exchangeListed']?.value == 'true'" class="col-md-6">
        <label class="form-label"
          >If yes, please select the stock exchange</label
        >
        <mat-form-field appearance="outline" class="small-height-input">
          <mat-label>Select Stock Exchange</mat-label>
          <mat-select [formControlName]="'exchangesList'" multiple>
            <mat-option *ngFor="let item of exchangeList" [value]="item.id">{{
              item.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <label class="form-label">Industry</label>
        <select class="form-select" formControlName="industry">
          <option selected disabled>Select Option</option>
          <option *ngFor="let item of industry" [value]="item.id">
            {{ item.name }}
          </option>
        </select>
      </div>

      <div class="col-md-6">
        <label class="form-label mb-2"
          >Is the company part of a group of company?</label
        >
        <div class="radio-group">
          <div class="custom-radio">
            <input
              class="custom-radio-input"
              type="radio"
              name="groupCompany"
              id="groupYes"
              value="true"
              formControlName="groupMember"
            />
            <label class="custom-radio-label" for="groupYes">Yes</label>
          </div>
          <div class="custom-radio">
            <input
              class="custom-radio-input"
              type="radio"
              name="groupCompany"
              id="groupNo"
              value="false"
              formControlName="groupMember"
            />
            <label class="custom-radio-label" for="groupNo">No</label>
          </div>
        </div>
      </div>
      <div *ngIf="orgForm['groupMember']?.value === 'true'" class="col-md-6">
        <label class="form-label">Group Company Name</label>
        <app-text-input
          [controlName]="'groupOrganizationName'"
          [placeholder]="'Enter group company name'"
          [type]="'text'"
          [formGroup]="OrganizationForm"
        ></app-text-input>
      </div>
      
      <div *ngIf="orgForm['groupMember']?.value === 'true'" class="col-md-6">
        <label class="form-label">Company Relationship</label>
        <select class="form-select" formControlName="companyRelationType">
          <option selected disabled>Select relationship type</option>
          <option value="main">Main Company</option>
          <option value="subsidiary">Subsidiary Company</option>
        </select>
        <small class="text-muted d-block mt-1">
          Select whether this company is the main company or a subsidiary in the group
        </small>
      </div>

      <!-- Add validation error messages -->
      <div *ngIf="orgForm['groupMember']?.value === 'true'" class="col-12">
        <div *ngIf="orgForm['groupOrganizationName']?.touched && orgForm['groupOrganizationName']?.errors" class="text-danger small">
          <span *ngIf="orgForm['groupOrganizationName']?.errors?.['required']">Group company name is required</span>
        </div>
        <div *ngIf="orgForm['companyRelationType']?.touched && orgForm['companyRelationType']?.errors" class="text-danger small">
          <span *ngIf="orgForm['companyRelationType']?.errors?.['required']">Please select the company relationship type</span>
        </div>
      </div>
    </div>
  </form>

  <div class="footer-btn-area mb-3">
    <button
      class="btn btn-primary mt-4"
      (click)="handleSubmit(OrganizationForm.value)"
    >
      Next
    </button>
  </div>
</div>
