// Modal Title Styles
.modal-title {
  font-family: Hellix, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0%;
}

// Modal Description Styles
.modal-description {
  font-family: Hellix, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
}

.side-modal {
  width: 550px;
  background-color: white;
  height: 100%;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 35px !important;
}

.modal-header {
  // padding: 20px 24px;
  // border-bottom: 1px solid #e5e7eb;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .modal-title {
    font-size: 24px;
    font-weight: 600;
    color: #111827;
    margin: 0;
  }

  .btn-close {
    background: none;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      font-size: 24px;
      color: #6b7280;
    }

    &:hover {
      background-color: #f3f4f6;
    }
  }
}

.modal-body {
  padding-top: 18px;
  flex: 1;
  overflow-y: auto;
}
