.main {
  padding-top: 25px;
  h5 {
    font-size: 18px;
  }
  th {
    color: #757171;
    font-weight: 500;
    font-size: 15px;
  }
  td {
    color: #757171;
    font-weight: 400;
    font-size: 14px;
    padding: 10px;
  }
  .add-btn {
    border: 1px #d6d6d6 solid;
  }

  .pill-bg {
    background-color: #e7e7e7;
  }
}
