<!-- Trusted Advisor Login Page -->
<div class="position-absolute top-0 start-0 p-4">
  <img src="assets/images/brand/logo.svg" alt="Trusted Advisor" height="30" />
</div>

<div
  class="container-fluid vh-100 d-flex align-items-center justify-content-center bg-light"
>
  <div class="card p-5 shadow-sm border-0">
    <div class="text-start mb-4">
      <h2 class="fw-bold mb-3">Login</h2>
      <p class="font-semibold mb-0">
        Hey, Enter your details to get sign in to your account
      </p>
    </div>

    <form [formGroup]="LoginForm" (ngSubmit)="Login(LoginForm.value)">
      <div class="mb-3">
        <app-text-input
          [controlName]="'emailAddress'"
          [placeholder]="'Email Address'"
          [type]="'email'"
          [formGroup]="LoginForm"
        ></app-text-input>
      </div>

      <div class="mb-3">
        <app-text-input
          [controlName]="'password'"
          [placeholder]="'Password'"
          [type]="'password'"
          [formGroup]="LoginForm"
        ></app-text-input>
      </div>

      <div class="mb-3">
        <app-text-input
          [controlName]="'organizationCode'"
          [placeholder]="'Organization Code'"
          [type]="'text'"
          [formGroup]="LoginForm"
        ></app-text-input>
      </div>

      <div class="mb-3">
        <small
          [routerLink]="['/auth/forgot-password']"
          class="text-decoration-none font-semibold pointer"
          >Having trouble in sign in?</small
        >
      </div>

      <div class="d-grid mb-3">
        <app-loader-button
          [loading]="loading"
          [disabled]="LoginForm.invalid"
          [text]="'Login'"
          [loaderText]="'Signing in...'"
          btnClass="btn btn-primary submit-btn w-100"
          type="submit"
        ></app-loader-button>
      </div>
    </form>

    <div class="text-center">
      <small class="text-muted">Don't have an account ?</small>
      <a [routerLink]="'/auth/signup'" class="fw-bold ms-1">Register</a>
    </div>
  </div>
</div>
