<div class="table-responsive">
  <table class="table table-hover mb-0">
    <!-- headers -->
    <thead>
      <tr>
        <ng-container
          *ngTemplateOutlet="
            headers || defaultHeaderTemplate;
            context: { $implicit: tableData }
          "
        ></ng-container>
      </tr>
    </thead>
    <tbody>
      <!-- rows -->
      <tr *ngFor="let tableRow of tableData">
        <ng-container
          *ngTemplateOutlet="
            rows || defaultRowTemplate;
            context: { $implicit: tableRow }
          "
        >
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="!tableData || tableData?.length == 0">
  <ng-container>
    <div class="empty-tables">
      <i class="bi bi-emoji-frown-fill"></i>
      <div class="py-3"><p>No Data available for now, check later</p></div>
    </div>
  </ng-container>
</div>

<ng-template #defaultHeaderTemplate let-tableData>
  <th *ngFor="let header of tableData[0] | keyvalue">
    {{ header.key }}
  </th></ng-template
><ng-template #defaultRowTemplate let-tableRow>
  <td *ngFor="let row of tableRow | keyvalue">{{ row.value }}</td></ng-template
>
