$primary-color: #ef37b5;
$secondary-color: #333;
$black-001: #181818;
$padding-base: 1rem;
$padding-sm: 0.5rem;
$padding-lg: 2rem;
$border-radius: 0.5rem;
$border-radius-lg: 1rem;
$border-radius-sm: 0.25rem;
$border-color: #ddd;
$border-color-light: #f0f0f0;
$border-color-dark: #aaa;
$border-color-darker: #888;
$border-color-darkest: #666;
$border-color-lightest: #f9f9f9;
$border-color-primary: #ef37b5;
$border-color-secondary: #333;
$border-color-success: #28a745;
$border-color-danger: #dc3545;
$border-color-warning: #ffc107;
$border-color-info: #17a2b8;
$border-color-light-primary: #f0e5f9;
$border-color-light-secondary: #f0f0f0;
$border-color-light-success: #e6f9e6;
$border-color-light-danger: #f9e6e6;
$border-color-light-warning: #fff3cd;
$border-color-light-info: #e6f7ff;
$border-color-dark-primary: #d1a3d1;
$border-color-dark-secondary: #ccc;
$border-color-dark-success: #c2e6c2;
$border-color-dark-danger: #f2c2c2;
$border-color-dark-warning: #ffeeba;
$border-color-dark-info: #b3e0ff;
$border-color-darkest-primary: #b38db3;
$border-color-darkest-secondary: #aaa;
$card-bg-color: #fcfdfe;
